@font-face {
	font-family: "Open Sans";
	src: url(fonts/OpenSans-Regular.ttf) format(ttf),
	src: url(fonts/OpenSans-Regular.woff) format(woff),
	src: url(fonts/OpenSans-Regular.woff2) format(woff2);
}

@font-face{
	font-family: "Tinos";
	src: url(fonts/Tinos-Regular.ttf) format(ttf),
	src: url(fonts/Tinos-Regular.woff) format(woff);
	src: url(fonts/Tinos-Regular.woff2) format(woff2);
}

html {
	font-size: 100%;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	font-family: Open Sans;
	font-size: 0.88rem;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF7400;
	text-transform: uppercase;
	border: none;
}

.header {
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
}

.header-conteiner {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
}

.header-title {
	text-align: center;
}

.header-title-first-line, .header-title-second-line {
	font-family: Tinos;
	color: #D67E35;
	margin: 0;
}

.header-title-third-line2 {
	font-family: Open Sans;
	color: #FFFFFF;
}

.rest-benefits-list {
    text-align: center;
    width: 100%;
    }

.rest-benefits-list-item {
   	font-family: Tinos;
   	text-align: center;
   	line-height: 29.9px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.rest-benefits-list-item-title-link {
	color: #BC9060;
}


@media (max-width: 640px) {

	.header {
		background-image: url("image/hero_image_phone.png");
		background-size: contain;
	}

	.header-content {
		margin: 0 0.9rem;
	}

	.menu-icon {
	fill: #FF7400;
    }

    .horisontal-line, .view-menu-desk {
    	display: none;
    }

    .header-title {
    	margin: 15.75rem 0 12.6rem;
    }

    .header-title-first-line {
    	font-size: 1.9rem;
    }

    .header-title-second-line {
    	font-size: 2.5rem;
    }

    .header-title-third-line2 {
    	font-size: 0.9rem;
    	margin: 0 0 2.8rem;
    }

    .view-menu-phone {
    	padding: 14px 45px;
    }

    .rest-benefits-list-item {
    	margin-bottom: 0.88rem;
    	padding: 32px 13px 12px;
    }

    .rest-benefits-list-item-title {
    	font-size: 1.6rem;
    	margin: 0;
    }

    .rest-benefits-list-item-description {
    	font-size: 1.4rem;
    	margin: 6px 0 0;
    }

}

@media (min-width: 641px) {

	.header {
		background-image: url("image/hero image.png");
		background-size: contain;
	}

	.header-title{
        padding: 225px 0 124px;
    }

	.header-title-first-line {
		font-size: 3rem;
	}

	.header-title-second-line {
		font-size: 5rem;
	}

	.header-title-third-line {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding-bottom: 21px;
	}

	.header-title-third-line2 {
		font-size: 1.3rem;
		margin: 0;
	}

	.horisontal-line {
		width: 61px;
        height: 2px;
        background-color: #C4C4C4;
        margin: 0 8px;
	}

	.view-menu-desk {
		padding: 14px 28px;
		margin-bottom: 7.75rem;
	}

	.view-menu-phone {
		display: none;
	}

	.rest-benefits-list {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.rest-benefits-list-item {
		width: 33%;
		padding: 48px 29px 12px;
	}

	.rest-benefits-list-item:nth-child(n+2) {
		margin-left: 2rem;
	}

	.rest-benefits-list-item-title, .rest-benefits-list-item-description {
		font-size: 1.63rem;
		margin: 0;
	}

	.rest-benefits-list-item-description {
		line-height: 29.9px;
		margin-top: 20px;
	}

	.miidle-part-page {
		margin-top: 150px;
	}

}


@media(min-width: 641px) and (max-width: 1220px) {
	.header-content {
		margin: 0 1.5% 7.75rem;
	}

}


@media (max-width: 1220px) {

	.header-conteiner {
		justify-content: space-between;
	}

	.header-conteiner {
		padding-top: 1.25rem;
	}

	.menu-part1, .menu-part2, .menu-list, .table-order {
		display: none;
	}

}

@media (min-width: 1220px) and (max-width: 1359px) {
	.header-content {
		margin: 0 11.46% 7.75rem;
	}

	.menu-icon, .number-phone, .contacts-cta {
		display: none;
	}
}

@media (min-width: 1220px) {

	.header-conteiner {
		justify-content: space-between;
		padding-top: 3.12rem;
	}

	.logo {
		padding-right: 18.6%;
	}

	.menu, .menu-part1, .menu-list {
		display: flex;
		flex-wrap: nowrap;
	}

	.menu {
		margin-left: 20%;
	}

	.menu-icon {
		display: none;
	}

	.menu-part1 {
		font-weight: bold;
		justify-content: space-between;
		align-items: center;
		border-right: 1px solid #FFFFFF;
	}

	.menu-list {
		list-style-type: none;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
	}

	.menu-list-item {
		padding-right: 23px;
	}

	.menu-list-item-link, .contacts, .cart, .table-order {
		font-size: 0.88rem;
		color: #FFFFFF;
	}

	.menu-part2 {
		padding: 0 45px 0 31px;
	}


	.table-order {
		font-family: Open Sans;
		font-weight: bold;
		background-color: #FF7400;
		text-transform: uppercase;
		border: none;
		padding: 14px 18px;
	}

	.header-title{
        padding: 203px 49% 21px 0;
    }

}

@media (min-width: 1360px) {

    .header-content {
		margin: 0 11.46% 7.75rem;
	}
	
	.cart {
		padding: 0 21px 0 11px;
	}

	.number-phone {
		font-size: 1.1rem;
		font-weight: bold;
	}

	.contacts-cta {
		width: 9.6rem;
		margin: 0;
	}

    .header-title-first-line {
		font-size: 3.12rem;
	}

	.header-title-second-line {
		font-size: 5.3rem;
	}

	.header-title-third-line2 {
		font-size: 1.5rem;
	}


}